/* general styles */
body,
html {
	min-width: 300px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	min-height: 400px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue.eot") format("embedded-opentype");
	src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype");
	src: url("../fonts/HelveticaNeue.woff") format("woff"),
		url("../fonts/HelveticaNeue.ttf") format("truetype"),
		url("../fonts/HelveticaNeue.svg#bebas_neuebold") format("svg");
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: "Bebas Neue bold";
    src: url("../fonts/bebasneue_bold-webfont.eot");
    src: url("../fonts/bebasneue_bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/bebasneue_bold-webfont.woff") format("woff"),
         url("../fonts/bebasneue_bold-webfont.ttf") format("truetype"),
         url("../fonts/bebasneue_bold-webfont.svg#bebas_neuebold") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Bebas Neue book";
    src: url("../fonts/bebasneue_book-webfont.eot");
    src: url("../fonts/bebasneue_book-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/bebasneue_book-webfont.woff") format("woff"),
         url("../fonts/bebasneue_book-webfont.ttf") format("truetype"),
         url("../fonts/bebasneue_book-webfont.svg#bebas_neuebook") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue thin";
    src: url("../fonts/bebasneue_thin-webfont.eot");
    src: url("../fonts/bebasneue_thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/bebasneue_thin-webfont.woff") format("woff"),
         url("../fonts/bebasneue_thin-webfont.ttf") format("truetype"),
         url("../fonts/bebasneue_thin-webfont.svg#bebas_neuethin") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Mono bold";
    src: url("../fonts/ptmono-bold-webfont.eot");
    src: url("../fonts/ptmono-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ptmono-bold-webfont.woff") format("woff"),
         url("../fonts/ptmono-bold-webfont.ttf") format("truetype"),
         url("../fonts/ptmono-bold-webfont.svg#pt_monobold") format("svg");
    font-weight: normal;
    font-style: normal;

}

.page-heading {
	margin: 90px auto 60px auto;
	width: 425px;
	text-align: center;
}

.page-heading p {
	font-family: "Bebas Neue bold", Arial, Helvetica, sans-serif;
	font-size: 120px;	
	margin: 0;
	font-weight: 700; 
}

.page-heading h1{
	font-family: "Bebas Neue thin", Arial, Helvetica, sans-serif;
	font-size: 35px;
	margin: 20px 0 25px 0;
	font-weight: 100;
}

.page-heading h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
}


.nav {
	width: 296px;
	margin: 0 auto;
	padding: 0;
}

.nav li {
	list-style-type: none;
	display: inline;
	margin-left: 10px;
}

.nav li:last-child {
	margin-right: 10px;
}

.nav-link {
	color: #fb8925;
	font-family: "Bebas Neue book", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 300;
}


.nav-link:hover {
	color: #1188d4;	
}

.main-content {
	margin: 0 0 5% 5%;
	position: relative;
	font-size: 0;
}

.mobile {
	display: none;
}

.ib {
	display: inline-block;
}

.ib p {
	font-size: 14px;
}

.about {
	margin: 30px 8% 60px 0;
	width: 30%;
}

.about p {
	margin: 0;
}

.about h3 {
	font-family: "Bebas Neue book", Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 300;
	margin: 40px 0 15px 0;
}

.example {
	border: 1px solid #f3f1ea;
	background-color: #fcfbf8;
	font-family: "PT Mono bold";
	font-weight: bold;
}

.example p {
	margin: 15px;
}

.example p:first-child {
	margin-bottom: 20px;
}

.image {
	vertical-align: top;
	width: 62%;
}

.image img {
	max-width: 100%;
}

.add-buttons {
	margin: 50px 5% 20px 0;
	float: right;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 900px) {
	.example p {
		font-size: 10px;
	}
}


@media (max-width: 785px) {

	.desktop {
	display: none;
	
	}

	.mobile {
		display: block;
	}

	.about,
	.example {
		width: 95%;
	}

	.about,

	.about{
		margin: 0 5% 10px 0;
	}

	.example {
		margin-top: 20px;
		margin-right: 5%;
			padding: 0 15px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.example p {
		font-size: 12px;
		width: 380px;
		margin: 15px auto;
	}

	.about h3 {
		text-align: center;
	}

	.image {
		width: 100%;
	}
	
	.add-buttons {
	float: none;
	width: 355px;
	margin: 40px auto;
	padding-right: 5%;
}

}

@media (max-width: 450px) {

	.page-heading {
	margin: 90px auto 60px auto;
	width: 95%;
	}
	
	.example p {
		font-size: 10px;
	}
}

